<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Questionnaires</title>
</head>
<body>
<div th:each="questionnaire : ${questionnaires}">
    <a th:href="@{/api/questionnaire/{id}(id=${questionnaire.getId()})}" th:text="${questionnaire.getNameQuestionnaire()}">questionnaire</a>
    <a th:href="@{/api/questionnaire/{id}/edit (id=${questionnaire.getId()})}">Edit</a>
    <a th:href="@{/api/questionnaire/{id}/delete (id=${questionnaire.getId()})}">Delete</a>
</div>

<form action="/api/create" method="GET">
    <button type="submit">Create New Questionnaire</button>
</form>

<form action="/auth/logout" method="POST">
    <button type="submit">Logout</button>
</form>

</body>
</html>