<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Edit Questionnaire</title>
</head>
<body>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<h1>Edit Questionnaire</h1>
<form th:action="@{/api/questionnaire/{id}(id=${questionnaire.getId()})}" th:method="PATCH" th:object="${questionnaire}">
    <label for="name">Enter Value: </label>
    <input type="text" th:field="*{nameQuestionnaire}" id="name"/>
    <br/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>