<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Edit Question</title>
</head>
<body>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<h1>Edit Question</h1>
<p th:text="${message}"></p>
<form th:action="@{/api/question/{id}(id=${question.getId()})}" th:method="PATCH" th:object="${question}">
    <label for="name">Enter Value: </label>
    <input type="text" th:field="*{valueQuestion}" id="name"/>
    <br/>
    <h2>One or more response values </h2>
    <div class="form-group">
        <select th:field="*{choiceType}" >
            <option th:each="type : ${T(com.github.vilfenox.anketa.model.Choice).values()}"
                    th:value="${type}"
                    th:text="${type}">
            </option>
        </select>
    </div>

    <input type="submit" value="Update!"/>
</form>
</body>
</html>