<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Variants</title>

</head>
<body>
<div>
    <h2>Variants for Questionnaire : </h2>
    <p th:text="${questionnaire.getNameQuestionnaire()}">questionnaire</p>
</div>

<form name="myForm" action="#" th:action="@{/user/save_answer}" method="post">

<div th:each="question : ${questions}">

    <span th:text="${question.getValueQuestion()}" th:name="${question.getValueQuestion()}">question</span>
    <ul>

    <li th:each="variant : ${question.getVariants()}">

        </script>
            <input th:type="${question.choiceType}" th:id="${question.id}" th:field="${variant.answers}" th:value="${answer.id}">
            <label  th:for="${question.id}" th:text="${variant.getValueVariant()}">variant </label>
    </li>
    </ul>
</div>
   <button type="submit">Complete</button>
</form>

</body>
</html>