<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Variants</title>
</head>
<body>
<div>
    <h2>Variants for Questionnaire : </h2>
    <p th:text="${questionnaire.getNameQuestionnaire()}">questionnaire</p>
</div>

<form action="#" th:action="@{/seedstartermng}" method="post">

<div th:each="question : ${questions}">
    <a  th:text="${question.getValueQuestion()}">question</a>

    <li th:each="variant : ${question.getVariants()}">

    <input th:type="${question.choiceType}"  name="myRadios" th:field="${user}" th:value="${variant.id}" />
            <label th:for="${question.getValueQuestion()}" name="myRadios" th:text="${variant.getValueVariant()}">variant </label>

    </li>

</div>
   <button type="submit">Complete</button>
</form>

</body>
</html>