<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="#" th:action="@{/user/save_answer}" method="post" th:model="questionnairesForm">
    <input type="hidden" th:value="${questionnairesForm.questionnaires.id}" th:field="*{questionnairesForm.questionnaires.id}"/>
    <input type="hidden" th:value="${questionnairesForm.questionnaires.title}" th:field="*{questionnairesForm.questionnaires.title}"/>
    <div th:each="answer,answerStat : ${questionnairesForm.answers}">
        <h2 th:text="${answer.question.valueQuestion}"></h2>
        <input type="hidden" th:value="${answer.id}" th:field="*{questionnairesForm.answers[__${answerStat.index}__].id}"/>
        <input type="hidden" th:value="${answer.question.valueQuestion}" th:field="*{questionnairesForm.answers[__${answerStat.index}__].question.valueQuestion}"/>
        <input type="hidden" th:value="${answer.question.id}" th:field="*{questionnairesForm.answers[__${answerStat.index}__].question.id}"/>
        <ul>
            <li th:each="variant : ${answer.getQuestion().getVariants()}">
                <input th:type="${variant.question.choiceType}" th:id="${variant.id}"
                       th:field="*{questionnairesForm.answers[__${answerStat.index}__].variant.id}"
                       th:value="${variant.id}">
                <label  th:for="${variant.id}" th:text="${variant.getValueVariant()}"></label>
            </li>
        </ul>
    </div>
    <button type="submit">Complete</button>
</form>
</body>
</html>